*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
label{
    position: relative;
    width: 360px;
    height:120px;
    cursor: pointer;
}
label input{
    position: relative;
    z-index: 1;
    appearance: none;
}
label span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fe0000;
    border-radius: 80px;
    transition: 0.5s;
    box-shadow: 0 15px 25px #fe000066;
}
label input:checked ~ span{
    background: #05be05;
    box-shadow: 0 15px 25px #05be0566;
}

label span i{
    position: absolute;
    width: 100px;
    height: 100px;
    left:10px;
    top: 10px;
    background: #fff;
    border-radius: 50%;
    transition: 0.5s;
}
label input:checked ~ span i {
    left:250px;
}
label span i::before{
    content: '';
    position: absolute;
    top: 25px;
    left:25px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fe0000;
    box-shadow: 35px 0 0 #fe0000;
}
label input:checked ~ span i::before{
    box-shadow: 35px 0 0 #05be05;
    background: #05be05;
}
label span i::after{
    content: '';
    position: absolute;
    bottom: 35px;
    left: 25px;
    width: 50px;
    height: 8px;
    background: #fe0000;
    border-radius: 6px;
}
label input:checked ~ span i::after{
    background: #05be05;
    height: 15px;
    top: 55px;
    border-radius: 0;
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
}
